@charset "utf-8";
header {
    background-color: #A99EF0;
    height: 120px;
    padding-top: 32px;
    text-align: center;
    font-style: italic;
    color: #FFFFFF;
    font-size: x-large;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h1, h2, p {
    background-color: transparent;
}

body footer h6 {
    background-color: #A543D7;
    height: 51px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 20px;
    font-size: 14px;
    color: #FFFFFF;
}
body main section {
	background-color: #C280E4;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 3px;
	border-radius: 32px;
}
p, h2 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 7px;
    margin-bottom: 7px;
}
p {
    color: #FAF7DC;
}
h2 {
    color: #48047B;
    font-size: 30px;
    font-style: italic;
}




main {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 90px;
    background-color: #FFD160;
    padding-top: 18px;
    padding-bottom: 20px;
    padding-right: 90px;
    margin: auto;
    width: 1119px;
}
*{
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    width: auto;
    background-color: #3FB487;
}



nav {
    height: 45px;
    background-color: #488FD1;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}
#navegacion {
    background-color: transparent;
}

#navegacion li {
    display: inline-block;
    background-color: transparent;
    margin-top: 5px;
    margin-right: 1px;
    margin-bottom: 5px;
    margin-left: 1px;
    width: 100px;
    text-align: center;
    font-size: 16px;
    border: 2px solid #BAFFE8;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}
#navegacion li a:link  {
    background-color: transparent;
    color: #BAFFE8;
    text-decoration: none;
    padding-top: 0px;
    letter-spacing: 1px;
}
#navegacion li a:hover {
    color: #FFD160;
    width: 90px;
    height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#navegacion li a:visited {
    color: #E4E1FA;
}
#navegacion li a:active  {
    color: #3FB487;
}
#menu_interno li {
    background-color: #BAFFE8;
    width: 160px;
    height: 50px;
    list-style-type: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 17px;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 50px;
    color: #000000;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}
#menu_interno li a:link  {
    color: #000000;
    text-decoration: none;
}
#menu_interno li a:hover {
    color: #488FD1;
    font-size: 18px;
}


#menu_interno {
    background-color: transparent;
    margin-left: 50px;
}







main section img {
    background-color: transparent;
    margin-left: 340px;
}
main section a {
    background-color: transparent;
}
#marcador1 {
}
#marcador2 {
}
#marcador3 {
}
#marcado4 {
}
#table_2 {
	width: 70%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}
#table_2 td , #table_2 th{
	border: 3px dashed #FFD160;
	border-collapse: collapse;
	border-bottom-right-radius: 27px;
}

#table_2 thead tr th {
	height: 50px;
	background-color: #488FD1;
	color: #FFFFFF;
	font-size: 21px;
}
#table_2 tbody tr td {
	color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-weight: 500;
	height: 19px;
	vertical-align: middle;
}

table {
	background-color: transparent;
}
.tabla_3 {
	width: 88%;
	margin-top: 31px;
	margin-bottom: 12px;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}
.tabla_3 tr {
	background-color: transparent;

}
.tabla_3 tbody {
	background-color: #A99EF0;
}


.tabla_3 thead  th  {
	color: #000000;
	background-color: #488FD1;
	text-align: center;
	height: 41px;
}
.tabla_3 tbody tr td {
	padding-left: 18px;
	height: 37px;
	background-color: transparent;
}
.tabla_3 tbody tr:hover {
	background-color: #FFD160;
}
#tabla_4 {
	background-color: transparent;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 16px;
}
#tabla_4 td {
	width: 150px;
	height: 0px;
	padding-left: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 5px;

}

#tabla_4 thead th {
	background-color: #488FD1;
	color: #FFFFFF;
	font-size: 16pt;
	font-style: italic;
}

#tabla_4 tr:nth-child(even) {
	background-color: #D8AEED;
}
#tabla_4 tr:nth-child(odd) {
	background-color: #C789E6;
}

#tabla_4 td, #tabla_4 th   {
	background-color: transparent;
	height: 50px;
}
.celda_centrada {
    text-decoration: none;
    background-color: transparent;
    width: 100%;
    height: 71%;
    margin-bottom: 8px;
}
#tabla_5 {
	width: 1000px;
	background-color: #C280E4;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	border-width: 4pt;
}
#tabla_5 thead tr th {
	color: #FFFFFF;
}

#tabla_5 tbody  {
	background-color: transparent;

}


#tabla_5 td, #tabla_5 th {
	width: 1111px;
	height: 40px;
	background-color: transparent;
	text-align: center;
	font-weight: 600;
	border-width: 4px;
}
#tabla_5 tbody tr:nth-child(even) {
	background-color: #FFD160;
}
#tabla_5 tbody tr:nth-child(odd) {
	background-color: #FFE197;
}
#tabla_5 thead th:nth-child(even) {
	background-color: #488FD1;
}
#tabla_5 thead th:nth-child(odd) {
	background-color: #80B1DF;
}





div {
	background-color: transparent;
	margin-left: 32px;
	margin-right: 32px;
	margin-bottom: 16px;
	margin-top: 20px;
}
.overflow_x {
	overflow-x: auto;
}
#table_1 {
	margin-left: 32px;
	margin-bottom: 5px;
}
#gif1 {
	margin-left: 155px;
	margin-right: auto;

}
.flotante {
	width: 16%;
	height: 16%;
	padding-left: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 0px;
}
#flot_der {
	float: right;
	margin-left: 0px;
}
#flot_izqu {
	float: left;
	margin-left: 0px;
	border-top-right-radius: 31px;
	border-bottom-left-radius: 31px;
}
#bg_img1 {
	background-image: url(../Im%C3%A1genes/sergio-perez-27-debut-red-bull-1614106237.jpg);
	background-size: 164% auto;
	background-position: 80% 58%;
	background-repeat: no-repeat;
	opacity: 0.8;
}
.img_filtro {
	margin-left: 40px;
	margin-top: 3px;
	margin-bottom: 5px;
}
#filtro_greyscale {
		filter: grayscale(70%);
}
#filtro_invert {
	filter: invert(100%);
}
#filtro_blur {
	filter: blur(2.5px);
}
#filtro_brillo {
	filter: brightness(150%);
}
#filtro_contrast {
	filter: contrast(250%);
}
#filtro_opacity {
	filter: opacity(50%);
}
#filtro_saturation {
	filter: saturate(300%);
}
#filtro_sepia {
	filter: sepia(90%);
}
.img_sombras {
	margin-left: 66px;
	width: 85%;
	height: auto;
	filter: drop-shadow(10px 10px 10px purple);
	margin-bottom: 14px;
	margin-top: 8px;
}
#picture1 {
	width: 90%;
	background-color: transparent;
	margin-left: 37px;
}
#picture {
	background-color: transparent;
}
.audio {
    background-color: #FFFFFF;
    height: 29pt;
    display: inline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 36px;
    color: #000000;
    text-align: center;
    width: 282px;
    border-radius: 19px;
}
#Audio_2{
    width: 260px;
    height: 42px;
    background-color: #FFFFFF;
    margin-left: 63px;
    border-radius: 17px;
	
}
#book{
    padding-left: 0px;
    padding-right: 0px;
    width: 70%;
    height: auto;
    background-color: transparent;
	
}
#form1{
    background-color: Transparent;
    margin-left: 32px;
	
}
#nombre{
    background-color: #BAFFE8;
    margin-left: 2px;
    margin-right: 10px;
	
}
#Apellido{
    background-color: #BAFFE8;
    margin-left: 2px;
    margin-right: 10px;
	
}
#submit{
    background-color: #FDFDFD;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 10px;
    border-radius: 6px;
	
}
input[type=submit] {
    background-color: #FFD160;
}

.label {
    background-color: transparent;
    color: #48047B;
    font-weight: bolder;
    font-size: 16px;
}
input[type=text] {
    color: #4A3604;
    font-size: medium;
    font-style: italic;
}
.video {
    width: 50%;
    height: 50%;
    margin-left: 100px;
}
#form1 {
}
#form2 {
    margin-left: auto;
    width: 29%;
    background-color: #BAFFE8;
    padding-top: 10px;
    padding-right: 21px;
    padding-left: 21px;
    padding-bottom: 14px;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    text-align: center;
    border: 6px solid #3FB487;
    margin-bottom: 10px;
}
.celda2 {
    background-color: #FFD160;
    padding-top: 3px;
    padding-bottom: 3px;
}
#submit_2 {
    background-color: #FDFDFD;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 10px;
    border-radius: 6px;
    width: 147px;
    margin-bottom: 0px;
    margin-top: 14px;
}
#pais {
    background-color: #BAD5FF;
    height: 25px;
    font-style: oblique;
    font-weight: bold;
    margin-left: 3px;
    padding-top: 3px;
    padding-right: 2px;
    padding-bottom: 3px;
    padding-left: 2px;
    margin-top: 8px;
}
#formtxt {
    color: #48047B;
    margin-top: 16px;
    margin-bottom: 15px;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: left;
}
.label2 {
    background-color: transparent;
    font-weight: normal;
    display: block;
    margin-top: 14px;
    margin-bottom: -29px;
}
.transparente {
    background-color: transparent;
	
}
#form3 {
    background-color: #FFE3A2;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid hsla(43,100%,69%,1.00);
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: 500;
    line-height: 33px;
    text-align: left;
    height: auto;
}
#birthdaytime{
    width: 220px;
    background-color: hsla(248,72%,78%,1.00);
    color: hsla(0,0%,100%,1.00);
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
	
}
.label3 {
    font-weight: bolder;
}
#phone{
    background-color: hsla(248,70%,78%,1.00);
    color: hsla(0,0%,100%,1.00);
    font-weight: 500;
    padding-left: 5px;
	
}
#thanks {
    width: 50%;
    height: 50%;
    margin-left: 288px;
    margin-right: auto;
}
.submit_2 {
    background-color: #FDFDFD;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 10px;
    border-radius: 6px;
    width: 40%;
    margin-bottom: 5px;
    margin-top: 14px;
    margin-right: auto;
    margin-left: 30%;
}
#pwd{
    width: 237px;
    margin-left: 13px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: hsla(248,70%,78%,1.00);
    color: hsla(0,0%,100%,1.00);
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
	
}
#favcolor{
    color: hsla(0,0%,100%,1.00);
    background-color: hsla(0,0%,100%,1.00);
    width: 127px;
    margin-left: 20px;
	
}
#comentario {
    width: 100%;
    height: 110px;
    background-color: hsla(160,100%,86%,1.00);
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#form4 {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: hsla(209,60%,55%,1.00);
    border: thick solid hsla(274,95%,25%,1.00);
    height: auto;
}
#email {
    width: 100%;
    background-color: hsla(160,100%,86%,1.00);
    height: 20px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-style: oblique;
}
.label1 {
}
#form4 .label4 {
    color: hsla(0,0%,100%,1.00);
    font-weight: bold;
    font-size: 16px;
    padding-left: 16px;
    margin-left: 0px;
    display: block;
    margin-bottom: -13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#missa {
    width: 25%;
    height: auto;
    float: right;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 30px;
    -webkit-box-shadow: 7px 5px 3px #48047B;
    box-shadow: 7px 5px 3px #48047B;
    margin-bottom: 6px;
}
#carcheco {
    margin-left: 41px;
}
